{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1></h1>

    <div class="container">
        <h2>Inscription d'un Utilisateur</h2>
        <div class="form-control mt-3 p-3 mx-auto">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm._token) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(registrationForm) }}
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 offset-2">{{ form_label(registrationForm.email,'Adresse Email : ') }}</div>
                        <div class="col-3">{{ form_widget(registrationForm.email) }}</div>
                    </div>
                        <span class="message-erreur">{{ form_errors(registrationForm.email) }} </span>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 offset-2">
                            {{ form_label(registrationForm.username,'Username : ') }}
                        </div>
                        <div class="col-3">
                            {{ form_widget(registrationForm.username) }}
                        </div>
                    </div>
                    <span class="message-erreur">{{ form_errors(registrationForm.username) }}</span>
                </div>


            <div class="row mb-3 mt-4">
                <div class="col-2  offset-1">
                    {{ form_label(registrationForm.plainPassword,'Mot de Passe :') }}
                </div>
                <div class="col-5">{{ form_widget(registrationForm.plainPassword) }}</div>
                <span class="message-erreur">{{ form_errors(registrationForm.plainPassword) }}</span>
            </div>

            <div class="row ">
                <div class="col offset-5">
                    {{ form_row(registrationForm.Inscription, { 'attr': {'class': 'btn btn-primary'}} ) }}
                </div>
            </div>

            {{ form_end(registrationForm, {render_rest: false})    }}
        </div>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
