<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-List{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        <header>
            <div class="row">
                <div class="col-6"><h1 class="titre"><img src="{{ asset("assets/img/logo.png") }}" alt="logo du site" class="logo">Bucket-List</h1></div>
                <div class="col-2 offset-4"></div>
            </div>
            <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <img src="{{ asset("assets/img/logo.svg") }}" alt="logo du site">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('main_about') }}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('wish_list') }}">Liste</a>
                        </li><li class="nav-item">
                            <a class="nav-link" href="{{ path('wish_ajouter') }}">Ajouter</a>
                        </li>
                    </ul>
                    {% if app.user == true %}
                    <span class="navbar-text"><a href="{{ path('app_logout') }}">Se Déconnecter</a></span>
                    {% else %}
                    <span class="navbar-text"><a href="{{ path('app_login') }}">Connexion</a>/<a href="{{ path('app_register') }}">S'inscrire</a></span>
                    {% endif %}
                </div>
            </nav>
        </header>

        <article class="container">
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </article>

       <footer>
          &copy Bucket-List {{ "now"|date("Y")}} - <a href="{{ path('main_legalStuff') }}">Mentions Legales</a>
       </footer>
    </body>

</html>
